<a href="https://colab.research.google.com/github/Rajkumar-Thangasamy/One/blob/main/Data_Structure_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List**

-> List is one of the data strcutures of Python

-> A list is a mutable, ordered collection of items

-> We can store any data type—strings, numbers, even other lists

-> List is a collection of data types that is

✅ Ordered: Maintains insertion order

✅ Mutable: You can change it after creation

✅ Indexable: Access elements with []

✅ Iterable: You can loop through it

# **List Syntax**

-> Lists are denoted with sqaure brackets [] in Python.

In [ ]:
list_a = ['item-1', 'item-2', 'item-3']

list_b = ['razz',22,'chennai',5.11,True]

# **Directory**

-> To show the directory/list of things (attributes/methods/operations/functions) this object can do

-> dir() is a built-in Python function that shows you a list of all the valid operations that can be used with that object

-> The internal attributes are called as "dunder methods/double underscore methods" in all the data structures # Example: (__doc__) , (__format__)

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# **Append**

-> The append funtion adds an item (x) to the end of a list

-> Syntax: .append(x)

-> It modifies the original list

-> Always adds at the end of the list

-> Only one item?	Yes – one item at a time

In [ ]:
company = ['Wipro','Capgemini','Cognizant','TCS','HCLTech']
company.append('Amazon')
print(company)

['Wipro', 'Capgemini', 'Cognizant', 'TCS', 'HCLTech', 'Amazon']

In [ ]:
black = [25,31,49,53,67]
black.append([70,82])
print(black)

[25, 31, 49, 53, 67, [70, 82]]

In [ ]:
black = [25,31,49,53,67]
black.append((10,11))
print(black)

[25, 31, 49, 53, 67, (10, 11)]

# **Extend**

-> Adds each element from an iterable (like list, tuple, set, etc.) to the end of the current list

-> Modifies list? Yes, in-place (doesn’t create a new list, like append)

-> Takes what?	An iterable – like a list, tuple, string, set, etc.

-> Adds what?	Adds each element of the iterable, not the whole thing

-> Multiple items?	Yes – great for merging collections. More than one elements

-> You can use .extend() to add multiple elements from any iterable (like a tuple, set, string, or even a dictionary's keys) into a list.

In [ ]:

company = ['Wipro', 'Capgemini', 'Cognizant', 'TCS', 'HCLTech', 'Amazon']
company.extend('UST')
print(company)

['Wipro', 'Capgemini', 'Cognizant', 'TCS', 'HCLTech', 'Amazon', 'U', 'S', 'T']

In [ ]:
company = ['Wipro', 'Capgemini', 'Cognizant', 'TCS', 'HCLTech', 'Amazon', 'U', 'S', 'T']
company.extend(['Infosys','Genpact'])
print(company)

['Wipro', 'Capgemini', 'Cognizant', 'TCS', 'HCLTech', 'Amazon', 'U', 'S', 'T', 'Infosys', 'Genpact']

In [ ]:
company = ['Wipro', 'Capgemini', 'Cognizant', 'TCS', 'HCLTech', 'Amazon', 'U', 'S', 'T', 'Infosys', 'Genpact']
company.extend(('MPhasis','Deloitte'))
print(company)

['Wipro', 'Capgemini', 'Cognizant', 'TCS', 'HCLTech', 'Amazon', 'U', 'S', 'T', 'Infosys', 'Genpact', 'MPhasis', 'Deloitte']

In [ ]:
company = ['Wipro', 'Capgemini', 'Cognizant', 'TCS', 'HCLTech', 'Amazon', 'U', 'S', 'T', 'Infosys', 'Genpact', 'MPhasis', 'Deloitte']
company.extend({'Coforge'})
print(company)

['Wipro', 'Capgemini', 'Cognizant', 'TCS', 'HCLTech', 'Amazon', 'U', 'S', 'T', 'Infosys', 'Genpact', 'MPhasis', 'Deloitte', 'Coforge']

# **Insert**

-> Inserts a value into the list at the specified position (index,value).

-> It doesn't replace, and it doesn’t remove anything — it simply slides the existing items to the right to make space

-> Syntax: list_name.insert(index, value)
*   index: The position where you want to insert the value
*   value: The element you want to insert

-> You can insert any data type into a list using .insert(), including another list, tuple, set, dictionary, str, int, float, bool

In [ ]:
company = ['Wipro', 'Capgemini', 'Cognizant', 'TCS', 'HCLTech', 'Amazon', 'U', 'S', 'T', 'Infosys', 'Genpact', 'MPhasis', 'Deloitte', 'Coforge']
company.insert(1,'PwC')
print(company)

['Wipro', 'PwC', 'Capgemini', 'Cognizant', 'TCS', 'HCLTech', 'Amazon', 'U', 'S', 'T', 'Infosys', 'Genpact', 'MPhasis', 'Deloitte', 'Coforge']

In [ ]:
info = ['name', 'age']
info.insert(0, ['location','mailID'])
print(info)

[['location', 'mailID'], 'name', 'age']

In [ ]:
info = [['location', 'mailID'], 'name', 'age']
info.insert(0,('DOB','Gender'))
print(info)

[('DOB', 'Gender'), ['location', 'mailID'], 'name', 'age']

In [ ]:
info = [('DOB', 'Gender'), ['location', 'mailID'], 'name', 'age']
info.insert(0,{'Address'})
print(info)

[{'Address'}, ('DOB', 'Gender'), ['location', 'mailID'], 'name', 'age']

# **Remove**

-> It is a list method used to remove the first occurrence of the element x from the list

-> Syntax: list_name.remove(x)

-> It removes only the first occurrence of x

-> If x is not present in the list, Python will throw a ValueError

-> It modifies the original list and returns None (like many list methods)

In [ ]:
ipl = ['RR','DCH','CSK','CSK','KKR','MI','KKR','MI','SRH','MI','CSK','MI','MI','CSK','GT','CSK','KKR']
ipl.remove('MI')
print(ipl)

['RR', 'DCH', 'CSK', 'CSK', 'KKR', 'KKR', 'MI', 'SRH', 'MI', 'CSK', 'MI', 'MI', 'CSK', 'GT', 'CSK', 'KKR']

# **Pop**

-> It removes and returns an element at a specified index

-> If no index is provided, it defaults to removing and returning the last element of the list

-> Syntax: list.pop(index)

-> If you call pop() without an argument, it removes and returns the last element of the list

-> By providing an index, pop() removes and returns the element at that position

In [ ]:
fruits = ['apple', 'banana', 'cherry']
last_fruit = fruits.pop()
print(last_fruit)
print(fruits)

cherry
['apple', 'banana']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
second_fruit = fruits.pop(1)
print(second_fruit)
print(fruits)

banana
['apple', 'cherry']

In [ ]:
animals = ['lion','tiger','elephant','beer','deer','monkey','giraffe']
animals.pop(3)
print(animals)

['lion', 'tiger', 'elephant', 'deer', 'monkey', 'giraffe']

# **Clear**

->  To remove all elements from a list, resulting in an empty list. This method is particularly useful when you want to retain the list object but discard its contents

-> Syntax: list.clear()

-> It does not return any value; it simply empties the list in place

In [ ]:
animals = ['lion','tiger','elephant','beer','deer','monkey','giraffe']
animals.clear()
print(animals)

[]

# **Count**

-> It returns the number of times a specified value appears in the list

In [ ]:
num_hut = [2,5,7,1,4,6,9,8,3,0,0,4,1,3,6,7,3,8,7,4,3,1,9,9,5,6]
print(num_hut.count(0))

2

In [ ]:
num_hut = [2,5,7,1,4,6,9,8,3,0,0,4,1,3,6,7,3,8,7,4,3,1,9,9,5,6]
print(num_hut.count(10))

0

# **Index**

-> It returns the index (position) of the first occurrence of the given element in the list

->If the element is not found, it throws a ValueError

-> Syntax: list.index(x[, start[, end]])

x → the value you’re searching for.

start → optional. The position to 'start' searching from.

end → optional. The position to stop searching (This is exclusive, at the same time you cannot use 'end' alone without start).

In [ ]:
# Example 1 — Basic Use

ipl = ['RR','DCH','CSK','CSK','KKR','MI','KKR','MI','SRH','MI','CSK','MI','MI','CSK','GT','CSK','KKR']
print(ipl.index('KKR'))

4

In [ ]:
# Example 2 — With 'Start'

ipl = ['RR','DCH','CSK','CSK','KKR','MI','KKR','MI','SRH','MI','CSK','MI','MI','CSK','GT','CSK','KKR']
print(ipl.index('MI',6))

7

In [ ]:
# Example 2 — With 'Start' & 'End

ipl = ['RR','DCH','CSK','CSK','KKR','MI','KKR','MI','SRH','MI','CSK','MI','MI','CSK','GT','CSK','KKR']
print(ipl.index('CSK',11,17))

13

# **Sort**

-> It is to arrange elements in a specific order – ascending or descending

-> It changes (modifies) the original list; It doesn’t return a new list;Instead, it returns None

-> Syntax: list.sort(key=None, reverse=False)

*   key	Function used to customize what to sort by

*   reverse	If True, sorts in descending order. Default is False

In [ ]:
# Basic Ascending Sort

n1 = [9,1,8,4,2,7,3,6,0,5]
n1.sort()

n2 = [3,8,0,2,5,2,0,2,6,1]
n2.sort()

print(n1)
print(n2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 0, 1, 2, 2, 2, 3, 5, 6, 8]

In [ ]:
# Descending Sort

n1 = [9,1,8,4,2,7,3,6,0,5]
n1.sort(reverse=True)

n2 = [3,8,0,2,5,2,0,2,6,1]
n2.sort(reverse=True)

print(n1)
print(n2)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[8, 6, 5, 3, 2, 2, 2, 1, 0, 0]

In [ ]:
# len → Sort by length

animals = ['lion','tiger','elephant','beer','deer','monkey','giraffe']
animals.sort(key=len)
print(animals)

['lion', 'beer', 'deer', 'tiger', 'monkey', 'giraffe', 'elephant']

In [ ]:
# str.lower/str.upper → Case-insensitive sorting

fruits = ['banana', 'Apple', 'fig', 'Kiwi','MAngo','oRange']
fruits.sort(key=str.lower)
print(fruits)

['Apple', 'banana', 'fig', 'Kiwi', 'MAngo', 'oRange']

In [ ]:
# abs → Sort numbers by absolute value

nums = [-10, 2, -3, 0, 7, 4, -5]
nums.sort(key=abs)
print(nums)

[0, 2, -3, 4, -5, 7, -10]

# **Reverse**

-> It reverses the elements of a list in-place — meaning, it modifies the original list itself and doesn’t return a new one

-> Syntax: list_name.reverse()

-> No arguments needed inside the braces - Just call it on your list

In [ ]:
sss = [2,4,6,8,10,12]
sss.reverse()
print(sss)

[12, 10, 8, 6, 4, 2]

# **Copy**

-> It creates a shallow copy of a list. This means it makes a new list with the same elements as the original, but not linked to the original

-> Syntax: new_list = old_list.copy()

In [ ]:
sss = [2,4,6,8,10,12]
sss.copy()

[2, 4, 6, 8, 10, 12]

In [ ]:
tea = [['milk','water'],['sugar','tea powder'],['Ginger','Cardamom','Cinnamon','Cloves']]
tea_copy = tea.copy()
print(tea_copy)

[['milk', 'water'], ['sugar', 'tea powder'], ['Ginger', 'Cardamom', 'Cinnamon', 'Cloves']]

# **Length**

->Returns the number of elements in the list.

In [ ]:
tea = [['milk','water'],['sugar','tea powder'],['Ginger','Cardamom','Cinnamon','Cloves']]
len(tea)

3

In [ ]:
sss = [2,4,6,8,10,12]
len(sss)

6

# **Max/Min**

-> Max() - Returns the maximum (largest) element from the list

-> Min() - Returns the maximum/minimum value in the list

In [ ]:
animals = ['lion','tiger','elephant','bear','deer','monkey','giraffe']
print(max(animals))
print(min(animals))

tiger
bear

In [ ]:
sss = [2,4,6,8,10,12]
print(max(sss))
print(min(sss))

12
2

# **Sum**

-> It returns the sum of all numeric values in a list (or any iterable like tuple, set, etc.)

-> Syntax: sum(iterable, start)

*   iterable: list/tuple/set of numbers

*   start (optional): a number to start adding from (default = 0)


Use Case	                  Code Example	                      Result
Normal list of ints	        sum([1, 2, 3])	                      6
With start value	          sum([1, 2, 3], 5)	                    11
List of floats	            sum([1.1, 2.2, 3.3])	                6.6
Empty list	                sum([])	                              0
With list comprehension	    sum([x for x in range(5)])	          10

In [ ]:
sss = [2,4,6,8,10,12]
print(sum(sss))

42

In [ ]:
sss = [2,4,6,8,10,12]
print(sum(sss,100))

142

In [ ]:
animals = ['lion','tiger','elephant','bear','deer','monkey','giraffe']
print(sum(animals))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# **Sorted**

-> It returns a new sorted list from the items of any iterable (like a list, tuple, etc), without modifying the original

-> So, this function Sorts the elements → Returns new list/tuple/set → Leaves original one untouched

-> Syntax: sorted(iterable, *, key=None, reverse=False)

*   iterable - The list (or tuple, etc.) to be sorted
*   key	- A function to customize sorting (optional)
*   reverse	- If True, sorts in descending order (default is False)

-> Using sorted() function (does NOT modify the original list) | Using .sort() method (modifies the list in-place)

In [ ]:
m7 = [49,28,42,63,0,14,35,21,70,7]
sorted_m7 = sorted(m7)
print(sorted_m7)

[0, 7, 14, 21, 28, 35, 42, 49, 63, 70]

In [ ]:
m7 = [49,28,42,63,0,14,35,21,70,7]
sorted_m7 = sorted(m7, reverse=True)
print(sorted_m7)

[70, 63, 49, 42, 35, 28, 21, 14, 7, 0]

In [ ]:
animals = ['lion','tiger','elephant','bear','deer','monkey','giraffe']
sorted_animals = sorted(animals, key=str)
print(sorted_animals)

['bear', 'deer', 'elephant', 'giraffe', 'lion', 'monkey', 'tiger']

In [ ]:
animals = ['lion','tiger','elephant','bear','deer','monkey','giraffe']
sorted_animals = sorted(animals, key=len)
print(sorted_animals)

['lion', 'bear', 'deer', 'tiger', 'monkey', 'giraffe', 'elephant']

In [ ]:
fruitos = ["banana", "Apple", "cherry", "apricot", "Mango"]
sorted_fruitos = sorted(fruitos, key=str.lower)
print(sorted_fruitos)

['Apple', 'apricot', 'banana', 'cherry', 'Mango']

# **Any() / All()**

->  any(iterable)
*   Returns True if at least one element in the iterable is truthy.
*   Returns False only if all elements are falsy.

-> all(iterable)
*   Returns True only if every element in the iterable is truthy.
*   Returns False if any element is falsy.

Truthy and Falsy in Python:

> 0 - Falsy

> "" (empty string) - Falsy

> [], (), {} (empty containers)	- Falsy

> None	- Falsy

>False -	Falsy

>All other non-zero / non-empty values -	Truthy

In [ ]:
# Examples of any()

print(any([0, False, "", [], None]))       # ➜ False (everything is falsy)
print(any([0, "", 5, [], None]))           # ➜ True (5 is truthy)
print(any(["", "Razz", ""]))               # ➜ True ("Razz" is truthy)

False
True
True

In [ ]:
# Examples of all()

print(all([1, 2, 3]))                      # ➜ True (all are truthy)
print(all([1, 0, 3]))                      # ➜ False (0 is falsy)
print(all(["Razz", "Divya", ""]))          # ➜ False (empty string is falsy)
print(all(["Python", "Rocks"]))            # ➜ True

True
False
False
True

# **Item Checking**

-> To check if an item exists in a tuple

-> This returns True if the item is present, else False

-> Syntax: item/element in tuple name

In [ ]:
banks = ['IOB','HDFC','SBI','ICICI','Canara','KVB','IDBI']

'IOB' in banks

True

# **Slicing in a LIST**

-> Slicing is a way to extract a subset (a portion) of a sequence — like a list or string.

-> Syntax: list[start:stop:step]

 - start: The index where the slice begins (inclusive)

 - stop: The index where it ends (exclusive)

 - step: (optional) how many steps to skip (default is 1)

-> Slicing never throws an error if indices are out of range.

-> If start or stop are out of range, it won’t throw an error. It will simply return an empty list if the start index is too large or will slice up to the last element if stop exceeds the list length.

-> Slicing returns a new list — the original list stays unchanged.

-> The original list remains unchanged. The new list is a copy of the original, modified according to the slice. Lists are mutable, but slicing doesn’t modify the original.

In [ ]:
fruits = ["apple", "banana", "cherry", "dates", "fig", "grape"]

# Using only start:

print(fruits[2:])

['cherry', 'dates', 'fig', 'grape']

In [ ]:
fruits = ["apple", "banana", "cherry", "dates", "fig", "grape"]

# Using :stop only

print(fruits[:4])

['apple', 'banana', 'cherry', 'dates']

In [ ]:
fruits = ["apple", "banana", "cherry", "dates", "fig", "grape"]

# Using ::step

print(fruits[::2])

['apple', 'cherry', 'fig']

In [ ]:
m2 = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]

print(m2[::2])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]